.maintitle {
    font-size:110px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color:rgb(147, 147, 218)
}

.corpo {
    font-size: 48px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.corpo {
    font-size: 24px;
    text-align: center;
    font-family:'Times New Roman', Times, serif; 
}


.titles {
    font-size: 100px;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}